.App {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main {
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.todo-create {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
}

.todo-input {
  width: 100%;
  padding: 10px 0px;
  border: none;
  border-bottom: 1px solid lightgrey;
  outline: none;
  border-radius: 2px;
  text-align: center;
}

.todo-create-button {
  margin-top: 10px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: gold;
  font-weight: 700;
  cursor: pointer;
}

.todo-icons {
  font-size: 25px;
  margin-right: 7px;
  cursor: pointer;
}
